extends layout/base

block main-header
  h1 bassment

block main-content
  p
    i 
      | he said he didn't understand the process of the imagination
      br
      | but he felt he was at its mercy