{border-collapse:separate;border-spacing:0;vertical-align:middle;text-align:left;font-weight:normal;vertical-align:middle;}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{margin:0;padding:0;border:0;outline:0;display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]),[hidden]{display:none}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-size:22px;font-family:Georgia,"Times New Roman",serif;margin:0}
.wf-active{font-size:20px;font-family:"Merriweather",Georgia,"Times New Roman",serif}
body{background-color:#f8f5ef;color:#222}
a{color:#4e4e4e;}
a:hover{color:#717171}
#main-container{max-width:960px;margin:0 auto;padding:0 20px}
