@import 'nib'
@import 'vars'

reset-html5()
reset-table()
reset-table-cell()

*
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  padding: font_size * 2
  margin: 0px
  font: font_size "Merriweather", Georgia, "Times New Roman", serif

a
  color: colour_link

  &:hover
    color: lighten(colour_link, 12%)

#main-container
  max-width: width_main
  margin: 0 auto