font_size     = 20px
width_main    = 960px

colour_text   = #222
colour_light  = #888
colour_dark   = #000

colour_border = lighten(colour_text, 80%)

colour_link   = lighten(colour_text, 20%)
colour_hover  = lighten(colour_link, 20%)

font_heading  = Georgia, "Times New Roman", serif
font_text     = Georgia, "Times New Roman", serif