font_size     = 20px
width_main    = 960em/font_size

colour_text   = #424242
colour_main   = #43acd3
colour_light  = #fffff2
colour_dark   = #222222

colour_border = lighten(colour_text, 80%)

colour_link   = #424242

font_heading  = "Lucida Grande", Helvetica, sans-serif
font_text     = "Lucida Grande", Helvetica, sans-serif